.cart-icon-container{
    width:45px;
    height:45px;
    position:relative;
    display:flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    .cart-icon{
        width:44px;
        height:44px
    }

    .item-count{
        position:absolute;
        font-size:10px;
        font-weight: bold;
        bottom:26px;
    }
}